
---

### Happiness data


<div class="alert alert-block alert-info">
    
* Begin by importing the data on happiness. Sadly, the data is only available in several separate data sets. Import the data on the years 2015 through 2019 and merge them. You are going to need to identify and fix problems with incompatible column names.
</div>

In [1]:
# Import all important packages:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import numpy as np

In [2]:
# Set up the working directory:
path = "C:/Users/gross/OneDrive/Dokumente/Grossepieper_Nils_Assignment02"
os.chdir(path)

# Import the data sets for the years 2015 up to 2019:
happy_2015 = pd.read_csv("happy_data/happy_2015.csv", na_values = ["", "NA"])
happy_2016 = pd.read_csv("happy_data/happy_2016.csv", na_values = ["", "NA"])
happy_2017 = pd.read_csv("happy_data/happy_2017.csv", na_values = ["", "NA"])
happy_2018 = pd.read_csv("happy_data/happy_2018.csv", na_values = ["", "NA"])
happy_2019 = pd.read_csv("happy_data/happy_2019.csv", na_values = ["", "NA"])

# Add a year variable for every data set:
happy_2015["Year"] = [2015] * happy_2015.shape[0]
happy_2016["Year"] = [2016] * happy_2016.shape[0]
happy_2017["Year"] = [2017] * happy_2017.shape[0]
happy_2018["Year"] = [2018] * happy_2018.shape[0]
happy_2019["Year"] = [2019] * happy_2019.shape[0]

# Set subsets containig only the important variables:
happy_2015 = happy_2015[["Year", "Country", "Happiness Score"]]
happy_2016 = happy_2016[["Year", "Country", "Happiness Score"]]
happy_2017 = happy_2017[["Year", "Country", "Happiness.Score"]]
happy_2018 = happy_2018[["Year", "Country or region", "Score"]]
happy_2019 = happy_2019[["Year", "Country or region", "Score"]]

# Change all variables names to the naming convetion of happy_2017:
happy_2015 = happy_2015.rename(columns = {
    "Happiness Score": "Happiness.Score"
    })
happy_2016 = happy_2016.rename(columns = {
    "Happiness Score": "Happiness.Score"
    })
happy_2018 = happy_2018.rename(columns = {
    "Score": "Happiness.Score",
    "Country or region": "Country"
    })
happy_2019 = happy_2019.rename(columns = {
    "Score": "Happiness.Score",
    "Country or region": "Country" 
    })

# Now we can merge the data:
happy = pd.concat([happy_2015, happy_2016, happy_2017, happy_2018,
                   happy_2019])
happy.head(10)

   Year      Country  Happiness.Score
0  2015  Switzerland            7.587
1  2015      Iceland            7.561
2  2015      Denmark            7.527
3  2015       Norway            7.522
4  2015       Canada            7.427
5  2015      Finland            7.406
6  2015  Netherlands            7.378
7  2015       Sweden            7.364
8  2015  New Zealand            7.286
9  2015    Australia            7.284